<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <!--<header>
      <figure class="header">
        <img src="http://googledrive.com/host/0B9_hZcNm68n3NUdmTFRVVmM4eE0" alt="bois" />
      </figure>
    </header> -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/CV">CV</a></li>
        <li><a href="/links">Links</a></li>
        <li><a href="/index_fr.html">French version</a></li>
      </ul>
      <hr />
    </nav>
    <div class="container">
     {{ content }}
    </div><!-- /.container -->
    <footer class="underimage">
      <ul>
        <li><a href="mailto:irene.balmes@normalesup.org">email</a></li>
        <li><a href="https://github.com/IBalmes">github.com/IBalmes</a></li>
        <li><a href="https://twitter.com/irene_blms">@irene_blms</a></li>
      </ul>
    </footer>
  </body>
</html>
